# Python

*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env/

# Poetry
poetry.lock

# Docker
*.dockerfile
docker-compose.yml

# Pytest
.cache/
*.coverage

# IDEs and editors
.vscode/
.idea/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml