# {{ config.project_name }}

**Author:** {{ config.author_name }}

**Description:** {{ config.description }}

**Version:** {{ config.version }}

## Installation

To install the project, run:

```bash
cd /project/path
poetry install
```

## Usage

To run the project, execute:

```bash
sudo docker-compose up --build
```

## Testing

To run the tests, execute:

```bash
poetry run pytest
```

## License

This project is licensed under the terms of the MIT license.

## Acknowledgements

This project was generated using [FastAPI Project Generator]

## Support

For support, please contact the project maintainer at [{{ config.email }}](mailto:{{ config.email }}).
